@{
    ViewData["Title"] = "About Us Page";
}
<div class="text-center">
    <wbr />
    <h2 class="display-3">What is <span style="color: sienna">KhumaloCraft</span> ?</h2>
    <wbr />
    <h3 style="font-size:30px">
        KhumaloCraft Emporium, created by Mr James Khumalo, is a <span style="color:cornflowerblue">worldwide</span> platform that aims
        to bring artworks of the world to an <span style="color:greenyellow">all-in-one</span>, online platform. KhumaloCraft
        aims to allow artisians to advertise and <span style="color:darkmagenta">display</span> their handiwork on the plaform, as well
        as auction off their masterpieces to those versed in artistic culture, through the platform.
    </h3>
    <br />
    <i style="color:mintcream; font-size:20px;">
        Whether you are a novice just beginning your journey, or someone that has years of
        experience, you are welcome on our platform ~ J.Khumalo
    </i>
</div>
