@{
    ViewData["Title"] = "Contact Us Page";
}

<div class="text-center">
    <h2 class="display-3">Want to talk <span style="color:maroon; font-family: 'Franklin Gothic'">art</span> ? Contact us on</h2>
    <wbr />
    <h3><span style="color:lightgreen">Email</span>: contactkhumalocraft@outlook.com</h3>
    <h3><span style="color:lightgreen">Telephone</span>: 031 685 7488</h3>
    <h3><span style="color:lightgreen">Fax</span>: 031 685 7489</h3>
    <h3><span style="color:lightgreen">PO Box</span>: 7 9th Avenue, Randburg, Gauteng, South Africa</h3>
    <i>Please note, these details are random and are not intended to mimick any entity that owns them</i>
</div>
