@{
    ViewData["Title"] = "Home Page";
}
    <div class="text-center">
        <h1>
            <span style="color:lightgreen">K</span>humalo
            <span style="color:lightgreen">C</span>raft 
        </h1>
        <wbr />
    <h2 class="display-3"> 
        Where 
        <span style="font-family:'Lucida Calligraphy'; color: lightgreen">
            creativity
        </span> 
        meets 
        <span style="font-family:sans-serif; color:lightgreen">
            innovation
        </span>
    </h2>
    <wbr />
    <h3>
        Click the above tabs for more information
    </h3>
    </div>

