@{
    ViewData["Title"] = "My Work Page";
}

<div class="text-center">
    <h2 class="display-3">What is KhumaloCraft really <span style="color:aqua">about</span>?</h2>
    <wbr />
        <h3 style="font-size: 23px" class="text-center">
            KhumaloCraft is much more than just a website. 
            <br /><br />
            @* <img src="/Images/MyWork/Khumalomyworktwo.jpg" alt="Various Pottery made by a person" width="150" height="150" style="float:left; margin: 3px 12px 3px 0px; border: 5px solid #000000;" /> *@
            James Khumalo wanted to make a platform that allows those, no matter their background, to show off their creative flair and allow them to make a living
            off their hard work.
            <br />
            He himself came from a humble background, making his way up the ladder by painting, crafting, and sculpting.
            <br /> <br />
            <img src="/Images/MyWork/Khumalomyworkthree.jpg" alt="James Khumalo's first charcoal drawing" width="250" height="250" style="position:center; padding:3px; border: 7px solid black;" />
            <br />
            <i style="font-size: 13px">Figure 1 - James Khumalo's first charcoal drawing</i>
            <br /><br />
            After James finsihed school, he went on to specialize in a degree in Ceramics at The Nelson Mandela University. After he graduated, he started a freelance
            job in which he made custom pottery for old-age homes. A few years of doing this, and the idea of KhumaloCraft came to him. He thought: 
            "How can I inspire people just like how his mentor inspired me?" 
            <br /> <br />
            He began planning the logistics and the core ideas of KhumaloCraft, and once he had
            a basic idea, he started putting it into motion. In 2017, he rented out a hall and allowed students from a local highschool to display what they were currently
            working on. He handled advertising and the booking of the venue, and even allowed students to sell their artwork if they chose to.
            <br /> <br />
        </h3>
        <div>
            <img src="/images/mywork/khumalomyworkfour.jpg" alt="A student showing off her art at the Khumalo art gallery" style="width:250px; height:250px; border:7px solid red; padding:3px; margin:5px; border-radius: 50%" />
            <img src="/images/mywork/khumalomyworkfive.jpg" alt="Student showing off her art at khumal art show" style="width:250px; height:250px; border:7px solid orange; padding:3px; margin:5px; border-radius: 50%" />
        </div>
        <i>This is just a few images of what he was able to acheive with this venture</i>
        <br /><br />
    <h3 style="font-size: 23px" class="text-center">
        This event turned out to be a huge success, and with the money he earned from the entrance fee's, he decided to invest it into making KhumaloCraft an online platform. 
        <br /> <br />
        That leads us to today, where KhumaloCraft has entered the online space, ready to inspire new artists <span style="color: lightcoral">all over the world</span>!

    </h3>
</div>
